/* .container {
    max-width: 900px;
    margin: auto;
    padding: 0 40px;
} */

.bookmarklets ul {
    padding: 0;
}

.bookmarklets li {
    display: inline-block;
    padding: 0 20px 0 0;
}

.example {
    border: 1px solid gray;
    padding: 40px;
}

h3 {
  margin-top: 48px;
}